@model AliMertTosunAracSinavi.Models.User

<h2>Yeni Kullanıcı Ekle</h2>

<form method="post">

    <label>Ad</label>
    <input type="text" name="Ad" class="form-control" />

    <label>Soyad</label>
    <input type="text" name="Soyad" class="form-control" />

    <label>TC</label>
    <input type="text" name="TC" class="form-control" />

    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>