@model AliMertTosunAracSinavi.Models.User

<h2>Kullanıcı Sil</h2>

<p>@Model.FullName adlı kullanıcıyı silmek istiyor musunuz?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a class="btn btn-secondary" href="/User/Index">İptal</a>
</form>